@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Dancing+Script&display=swap');

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: 'Dancing Script', cursive;
}

/* Header */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  position: sticky;
  top: 0;
  font-family: 'Dancing Script', cursive;
  z-index: 1; /* Ensure header is on top of other content */
}

.sender-blob {
  font-size: 15px;
  margin-bottom: 10px;
}

.message-text {
  font-size: large;
}

/* Message Area */
.message-area {
  width: 90%;
  max-width: 800px; /* Wider message area */
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align messages to the left */
  overflow-y: scroll;
  max-height: 400px;
  font-family: 'Dancing Script', cursive;
  margin-top: 60px; /* Add margin to separate from header */
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 70%; 
  font-family: 'Dancing Script', cursive;
}

.message.sent {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end; 
  font-family: 'Dancing Script', cursive;
}

.message.received {
  background-color: #f0f0f0;
  color: #333;
  align-self: flex-start; /* Others' messages on the left */
  font-family: 'Dancing Script', cursive;
}

/* Input Area */
.input-area {
  width: 90%;
  max-width: 800px; /* Match the message area width */
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  font-family: 'Dancing Script', cursive;
}

input[type="text"]:focus {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  font-family: 'Dancing Script', cursive;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 10px; /* Add margin to separate from input */
  font-family: 'Dancing Script', cursive;
}

button:hover {
  background-color: #0056b3;
  font-family: 'Dancing Script', cursive;
}